* {
  margin : 0;
  padding : 0;
  user-select: none;
}

body {
  font-size : 17px;
  margin-top : 1em;
}

canvas {
	border : 1px solid #aaa;
	margin : 1em 0;
}

#input_area {
  float : left;
  margin-left : 3em;
  margin-right : 3em;
}

#button_area {
  margin-top : 2em;
}

#button_area input {
  margin-left : 1em;
}

#result_area {
	margin-bottom : 1em;
}

table {    
  border-collapse : collapse;
  width : 200px;
}

th {
	padding-bottom: 1em;
}

td {
  border:  1px solid #aaa;
  padding : 0.3em 1em;
}

td:first-child {
  background-color : #eee;
  width : 10%;
}

input[type="button"] {
  background : -moz-linear-gradient(top, #fff 0%, #eee);
  background : -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  border : 1px solid #aaa;
  width : 10em;
  padding : 10px 0;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
	font-size : 1em;
}

@media(max-width: 700px) {
	#input_area {
		float: none;
		margin: 1em;
	}
	#result_area {
		margin-left : 1em;
		margin-top : 1em;
		margin-bottom : 1em;
	}
	#paint {
		margin-right : 1em;
	}
	input[type="button"] {
		font-size : 0.7em;		
	}
}
