* {
  margin : 0;
  padding : 0;
  user-select: none;
}

body {
  font-size : 17px;
  margin-top : 1em;
}

canvas {
	border : 1px solid #aaa;
}

#input_area {
  float : left;
  margin-left : 1em;
  margin-right : 1em;
}

#button_area {
  margin-top : 2em;
}

#button_area input {
  margin-left : 3em;
}

#result_area {
}

table {    
  border-collapse : collapse;
  width : 200px;
}

td {
  border:  1px solid #aaa;
  padding : 0.3em 1em;
}

td:first-child {
  background-color : #eee;
  width : 10%;
}

input[type="button"] {
  background : -moz-linear-gradient(top, #fff 0%, #eee);
  background : -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  border : 1px solid #aaa;
  width : 10em;
  padding : 10px 0;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

